<div class="product-page">
  <div class="grid">
    <div class="col-6">
      <ui-gallery [images]="images"></ui-gallery>
    </div>
    <div class="col-6 product">
      <h2 class="product-name">{{ product?.name }}</h2>
      <p class="product-desc">
        {{ product?.description }}
      </p>
      <div class="product-rating">
        <p-rating
          [ngModel]="product?.rating"
          disabled="true"
          stars="5"
          [cancel]="false"
        ></p-rating>
      </div>
      <div class="product-price">
        {{ product?.price | currency }}
        <span class="price-before">{{ product?.price + 18 | currency }}</span>
      </div>
      <div class="product-quantity">
        <div class="p-field col-12 md-3 p-0">
          <label for="quantity">Quantity</label>
          <br />
          <p-inputNumber
            [(ngModel)]="quantity"
            mode="decimal"
            [showButtons]="true"
            inputId="minmax-buttons"
            [min]="1"
            [max]="100"
          >
          </p-inputNumber>
        </div>
      </div>
      <div class="product-action">
        <button
          pButton
          pRipple
          label="Buy Now"
          class="p-button-outlined p-button-rounded p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          label="Add to cart"
          icon="pi pi-shopping-cart"
          class="ml-2 p-button-outlined p-button-rounded p-button-danger"
          onclick="onAddToCart()"
        ></button>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-12 richDesciption">
      <div [innerHTML]="product?.richDescription"></div>
    </div>
  </div>
</div>
